flagged
./gradio_deploy
src/__pycache__/
.env
__pycache__/
experiments/*.html
experiments/*.gguf
experiments/__pycache__/
models
**/node_modules
**/**.csv
**/**.json
.vscode/
**/desktop_venv
**/imgs
**/.DS_Store