blinker==1.4
numpy==1.24.3
pandas==2.2.0
peft==0.7.1
scipy==1.11.2
solc-select==1.0.4
python-dotenv
hf_transfer
gunicorn
locust
llama-index-core==0.10.39.post1
llama-index-vector-stores-postgres==0.1.7
psycopg2-binary
asyncpg
sqlalchemy[asyncio]
sentence-transformers==2.7.0
pgvector==0.2.5 
flask[async]
Flask-MonitoringDashboard==3.3.2